<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>最寄駅の検索フォーム</title>
</head>
<body>
    <h2>調べたい座標</h2>
    <form action="list" method="get">
        <input type="text" name="x" id="x" placeholder="x">
        <input type="text" name="y" id="y" placeholder="y">
        <input type="submit" value="検索">
    </form>
    <a href="https://www.google.com/maps/" target="_blank">Google Mapで座標を探す</a>
</body>
</html>



